/* Fonts from Google Fonts - more at https://fonts.google.com */
@font-face {
  font-family: 'Monoton';
  font-style: normal;
  font-weight: 400;
  src: local('Monoton'), local('Monoton-Regular'), url(https://fonts.gstatic.com/s/monoton/v7/au96iQ3WM1J9H5fMga5i0QLUuEpTyoUstqEm5AMlJo4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/cJZKeOuBrn4kERxqtaUH3ZBw1xU1rKptJj_0jans920.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(https://fonts.gstatic.com/s/opensans/v15/MTP_ySUJH_bn48VBG8sNShampu5_7CjHW5spxoeN3Vs.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v15/k3k702ZOKiLJc3WVjuplzBampu5_7CjHW5spxoeN3Vs.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}


/*Global Rules*/
html {
  font-size: 14px;
  line-height: 1.4;
}

body {
  background-color: white;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  color: #444;
  line-height: 1.4;
}

h2 {
  font-size: 2.5rem;
  font-weight: 700;
  padding-bottom: 1.4rem;
}

h3 {
  font-size: 1.7rem;
  font-weight: 700;
  color: #399bd1;
}

h4 {
  font-size: 1.3rem;
  font-weight: 700;
}
  
.image-container {
  overflow: hidden;
}

.image-container img {
  opacity: 0.7;
  width: 100%;
}

.image-container img:hover {
  transition: transform 0.5s, opacity 0.5s;
  transform: scale(1.3, 1.3);
  opacity: 1;
  overflow: hidden;
}

.btn {
  text-shadow: none;
  width: 11.4rem;
  padding: 1.3rem 0;
  margin-top: 2.8rem;
  background-color: #399bd1;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  border: 0;
}

.btn:hover {
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.9);
  background-color: #399bd1;
}

.btn:active {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
  background-color: #399bd1;
}
/*End*/



/*More Specific Rules*/

/*Navigation*/
.navbar-default {
  background-color: #ffffff;
}

.navbar-default .navbar-nav .active a {
  background: transparent;
  color: #399bd1;
}
 
.navbar-default .navbar-nav .active a:hover {
  background: transparent;
}

.navbar-default .navbar-nav li {
  font-size: 1.1rem;
  font-weight: 700;
}

.navbar-default .navbar-nav li a:hover {
  color: #399bd1;
}
/*End*/



/*Jumbotron*/
.jumbotron {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 39.2rem;
  padding-top: 11.85rem;
  padding-bottom: 11.85rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 3.57rem;
  color: #ffffff; 
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.jumbotron .container-fluid {
  text-align: center;
  padding: 0;
}

.jumbotron h1 {
  font-family: "Monoton", sans-serif;
  font-size: 7.1rem;
}

.jumbotron p {
  max-width: 51.3rem;
  margin: 0 auto;
  color: #fff;
}

.jumbotron-bike {
  background-image: url("../images/jumbotron-bike.jpg");
}

.jumbotron-beer {
  background-image: url("../images/jumbotron-beer.jpg");
}

.jumbotron-flowers {
  background-image: url("../images/jumbotron-flowers.jpg");
}

.jumbotron-duffel {
  background-image: url("../images/jumbotron-duffel.jpg");
}

.button-container {
  width: 100%;
  position: absolute;
  top: 32.5rem;
  display: flex;
  justify-content: center;
}


/*End*/


/*Feature*/
.highlight {
  color: #399bd1;
}

.featured h3 {
  padding-bottom: 1.4rem;
}

.featured p {
  color: rgba(0, 0, 0, 0.7);
}

.featured li {
  line-height: 1.4;
}
/*End*/


/*Projects*/
.projects {
  padding-bottom: 5.85rem;
  margin-top: 1.43rem;
}

/*End*/


/*Help*/
.help {
  text-align: center;
  background-color: #f3f3f3;
  padding-top: 5.2rem;
  padding-bottom: 5.2rem;
  width: auto;
}

.help p {
  margin: 0 auto;
  max-width: 42rem;
}


/*Media Queries*/
@media only screen and (max-width: 480px){
  .navbar-default img {
    display: none;
  }

  .jumbotron {
    padding-top: 6.5rem;
  }

  .jumbotron h1 {
    font-size: 3.5rem;
    margin-top: 4rem;
  }

  .jumbotron p {
    font-size: 1.5rem;
  }  
  
  .btn {
    padding: .5rem 0;
  }

  .projects {
    padding-bottom: 0;
  }

  .projects .col-xs-12 {
    padding-bottom: 2rem;
  }

  .help {
    padding-top: 2.6rem;
  }
}

